<!DOCTYPE html>
<html>
<head>
	<title>code-engine</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	</script>	
</head>
<body>
{{ statement }}
<br>
<br>
<form action=' {% url 'core:submit' test problem %}' method="post" enctype="multipart/form-data" name="fileinfo">
	{% csrf_token %}
	<label>source code</label>
	<input id="source" type="file" name="source_code">
	<input type="submit" value="submit">
	<input type="hidden" id="task_id">
</form>

<br>
<br>
{% for testcase in testcases  %}
<div id="{{testcase.id}}">
	testcase {{forloop.counter}} 
	<span id="status_{{testcase.id}}">
	</span>
</div>
	<br>
{% endfor %}

<script type="text/javascript">
	
	var csrfcookie = function() {
	var cookieValue = null,
    name = 'csrftoken';
	if (document.cookie && document.cookie !== '') {
    	var cookies = document.cookie.split(';');
    	for (var i = 0; i < cookies.length; i++) {
        	var cookie = cookies[i].trim();
        	if (cookie.substring(0, name.length + 1) == (name + '=')) {
            	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
}
return cookieValue;
};

function show_result(response)
{
	if(response == null)
		return;
	$.each(response,function(tc_id,status){
	      				testcase = document.getElementById('status_'+tc_id);
	      				testcase.innerHTML =  ' ' + status
	      			})
}


function check_status(job_id)
{
	var interval;
	var job_id = $('#task_id')[0].value;
	$.ajax({
		'url' : '/status/',
		headers : {'X-CSRFToken' : csrfcookie()},
		method : 'post',
		data : { "task_id" : job_id },
		success : function (result) {
			show_result(result);
			console.log(result);	
		},
		error : function(result){
				// console.log("err",result.responseJSON);
				show_result(result.responseJSON);
			interval = setTimeout(check_status,2000);
		},
	})
}

	$('form').submit(function(event) {
		event.preventDefault();
		// console.log("form clicked")
		var formdata = new FormData(this);
		
		
		var http_request = new XMLHttpRequest();
  		
  		http_request.open("POST", "/submit/test/1/problem/2", true);

  		http_request.setRequestHeader('X-CSRFToken', csrfcookie());

  		http_request.onload = function(oEvent) {
   			 if (http_request.status == 200) 
      			response = JSON.parse(http_request.response);
      		$('#task_id')[0].value = response['id'];
      		check_status('');
  		};


  		http_request.send(formdata);
  		
	});
</script>

</body>
</html>